.AppInner {
  text-align: center;
  
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Popover{
  padding: 10px;
}

.PopoverButton{
  align-items: right;
}
/* .container {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
} */




