.Graph {
  text-align: center;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Popover {
  padding: 10px;
  max-width: 82vw;
}

.PopoverButton {
  display: block;
  width: 100%;
  padding: 8px 12px;
  margin: 4px 0;
  min-height: 38px;
  cursor: pointer;
}
/* .container {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
} */
